public/n8n-telegram-workflow-v2.json
{
  "name": "Telegram Employee Assistant (AI) v2 - With Buttons",
  "nodes": [
    {
      "parameters": {
        "updates": ["message", "callback_query"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nlet messageText = '';\nlet chatId = '';\nlet telegramUserId = '';\nlet callbackData = '';\nlet callbackQueryId = '';\n\nif (input.message) {\n  // Regular text message\n  messageText = input.message.text || '';\n  chatId = String(input.message.chat.id);\n  telegramUserId = String(input.message.from.id);\n} else if (input.callback_query) {\n  // Button callback\n  callbackData = input.callback_query.data || '';\n  chatId = String(input.callback_query.message.chat.id);\n  telegramUserId = String(input.callback_query.from.id);\n  callbackQueryId = input.callback_query.id;\n}\n\nreturn [\n  {\n    json: {\n      telegram_user_id: telegramUserId,\n      chat_id: Number(chatId),\n      message_text: messageText,\n      callback_data: callbackData,\n      callback_query_id: callbackQueryId\n    },\n  },\n];"
      },
      "id": "build-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://aazshokdhlodzaafrifh.supabase.co/functions/v1/telegram-dispatcher",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-internal-key",
              "value": "YOUR_INTERNAL_KEY_HERE"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "call-dispatcher",
      "name": "Call telegram-dispatcher",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 400,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "or"
        }
      },
      "id": "check-error",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $('Build Payload').item.json.chat_id }}",
        "text": "⚠️ عذراً، حدث خطأ أثناء معالجة طلبك.\nيرجى المحاولة مرة أخرى لاحقاً.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-error",
      "name": "Send Error Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1050, 400],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-markup",
              "leftValue": "={{ $json.reply_markup }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "has-buttons",
      "name": "Has Buttons?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "replyMarkup": "={{ JSON.stringify($json.reply_markup) }}"
        }
      },
      "id": "send-with-buttons",
      "name": "Send Reply with Buttons",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 150],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.reply_text }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "send-plain",
      "name": "Send Plain Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1250, 300],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-callback",
              "leftValue": "={{ $('Build Payload').item.json.callback_query_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-callback",
      "name": "Is Callback?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "resource": "callback",
        "callbackQueryId": "={{ $('Build Payload').item.json.callback_query_id }}",
        "additionalFields": {}
      },
      "id": "answer-callback",
      "name": "Answer Callback Query",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1650, 150],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Call telegram-dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call telegram-dispatcher": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Has Buttons?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Buttons?": {
      "main": [
        [
          {
            "node": "Send Reply with Buttons",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Plain Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Reply with Buttons": {
      "main": [
        [
          {
            "node": "Is Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Plain Reply": {
      "main": [
        [
          {
            "node": "Is Callback?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Callback?": {
      "main": [
        [
          {
            "node": "Answer Callback Query",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "v2-workflow-buttons",
  "triggerCount": 1
}
